.BooksContainer{
    width: 1400px;
    display: flex;
}
.GridRow{
    width: 1400px;
    height: 300px;
    padding-top: 10px;
}
.Card{
    height: 285px;
}
.Image{
    width: 150px;
    height: 200px;
    align-self: center;
}
.BookImageCard{
    height: 500px;
    align-self: center;
}
.BookImage{
    width: 300px;
    height: 500px;
    padding-top: 20px;
    align-self: center;
}
.BookList{
    min-height: 80vh !important;
    height: fit-content;
 }
 .BookType{
     background-color: yellow;
 }
 .InventoryBookCard{
     height: 335px;
 }
